# Dirs
_static/
docs/
examples/
test/
src/
typings/
coverage/


# Files
rollup.config.js
bower.json
*.tgz
.travis*
.eslintrc.config.mjs
tsconfig.json
tsconfig.test.json
.browserslistrc
.whitesource
Jenkinsfile.sonar
sonar-project.properties
.github
.babelrc

# IDE
.vscode/
.idea/
.editorconfig
.nyc_output
