# Dirs
_static/
docs/
examples/
test/
src/
typings/
coverage/

# Files
rollup.config.js
bower.json
*.tgz
.travis*
.eslintrc.js
tsconfig.json
tsconfig.test.json
.browserslistrc
.whitesource
Jenkinsfile.sonar
sonar-project.properties

# IDE
.vscode/
.idea/
.editorconfig
.nyc_output
